.typography {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

.title1 {
    font-size: max(2rem, 6vw);
    font-weight: 800;
}

.title2 {
    font-size: 2rem;
    font-weight: 700;
}

.subtitle1 {
    font-size: min(2rem, 2vw);
    font-weight: 600;
}

.subtitle2 {
    font-size: min(1.25rem, 1.5vw);
    font-weight: 500;
}

.body1 {
    font-size: 1rem;
}

.body2 {
    font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
    .title1 {
        font-size: 4rem;
    }
    .subtitle1 {
        font-size: 0.9rem;
    }
}
