:root {
    // THEME 1
    --login-background: #202937;
    --nav-background: #202937;
    --white-smoke: #f3f4f6;
    --selected-nav-item: #111927;
    --white: #ffffff;
    --black: #000000
    --nav-item-hover: rgba(255, 255, 255, 0.1);
    --nav-item-text-color: #9ca3af;
    --blue: #5d86ff
    --gold: #edd668
}
