.page {
    margin: 0 1.5rem 0 1.5rem;
    padding-bottom: 6rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .text {
        color: #787e8a;
    }

    .button {
        height: 3rem;
        box-shadow: 0 1px 2px #c9c9c9;
        -moz-box-shadow: 0 1px 2px #c9c9c9;
        -webkit-box-shadow: 0 1px 2px #c9c9c9;
    }

    .button:hover {
        box-shadow: 0 2px 2px #bababa;
        -moz-box-shadow: 0 2px 2px #bababa;
        -webkit-box-shadow: 0 2px 2px #bababa;
        opacity: 0.8;
    }
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    td,
    th {
        height: 3rem;
    }

    thead {
        .tableHeading {
            background-color: #f9fafb;
            border-bottom: 1px solid rgba(0, 0, 0, 0.075);

            th {
                font-size: 0.9rem;
                font-weight: 600;
            }
        }
    }

    tbody {
        .friend {
            & {
                width: 100%;
            }

            td {
                text-align: center;
            }

            .name {
                font-weight: 500;
            }

            .tag,
            .mail {
                color: #777e8a;
            }

            .share {
                color: #7972eb;

                button {
                    font-size: 1rem;
                    outline: none;
                    cursor: pointer;
                }
            }
        }

        .friend:nth-child(even) {
            background-color: #f9fafb;
        }

        .friend:nth-child(odd) {
            background-color: #ffffff;
        }
    }

    @media only screen and (min-width: 701px) {
        .friend:last-child {
            td {
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        .tableHeading th:first-child {
            border-top-left-radius: 0.5rem;
        }

        th:last-child {
            border-top-right-radius: 0.5rem;
        }
    }
}

@media only screen and (max-width: 700px) {
    .header {
        .text {
            display: none;
        }

        .title {
            margin-bottom: 0;
        }
    }

    .table {
        &,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.075);
            position: relative;
            padding-left: 50%;
            line-height: 3rem;
            font-size: 0.7rem;
        }

        td:first-child,
        tr:first-child {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        tr:last-child {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        td:before {
            color: #000;
            font-weight: 500;
            position: absolute;
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        td:nth-of-type(1):before {
            content: 'Name';
        }
        td:nth-of-type(2):before {
            content: 'Tag';
        }
        td:nth-of-type(3):before {
            content: 'Email';
        }
        td:nth-of-type(4):before {
            content: 'Collaborate';
        }
    }

    .table tbody {
        .friend {
            .share {
                button {
                    font-size: 0.7rem;
                }
            }
        }
    }
}
