.title {
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: orange;
    height: 2rem;
}

.div {
    background-color: blue;
    width: 100%;
}

.swiper {
    min-height: calc(100vh - 12rem);
}
