.counter {
    width: 1.65rem;
    height: 1.5rem;
    background-color: #cdb23b;
    color: var(--white);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1;
}
