.button {
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button svg:first-child {
    margin-right: 0.75rem;
}
