.button {
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

.button span {
    margin-left: 0.75rem;
}
