.button {
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button span {
    margin-left: 0.75rem;
}
