.profile {
    & {
        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        position: relative;
    }

    .icon,
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
        color: #fff;
        border-radius: 0.3rem;

        &::after {
            content: attr(data-initials);
            font-family: 'Roboto';
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;

        .name {
            font-size: 0.9rem;
        }

        .tag {
            font-size: 0.7rem;
        }
    }

    .arrow {
        color: #b0b1b5;
        transform: rotate(90deg);
        cursor: pointer;
        transition: transform 300ms ease-in;

        &:hover {
            color: #000000;
        }
    }

    &.open {
        & {
            padding: 0 1.5rem;
        }
        &::after {
            content: '';
            position: absolute;
            border-bottom: 1px solid #e5e5e5;
            width: 18rem;
            bottom: 0;
            left: 0;
        }

        .arrow {
            &:hover {
                animation: arrow-in 1000ms linear 0ms infinite normal;
            }
        }

        .icon,
        .info,
        &::after {
            animation: fade-in 300ms linear 300ms;
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }

    &.closed {
        & {
            display: flex;
            justify-content: center;
        }

        .arrow {
            transform: rotate(270deg);
            animation: fade-in 300ms linear 300ms;
            animation-fill-mode: forwards;
            opacity: 0;

            &:hover {
                animation: arrow-out 1000ms linear 0ms infinite normal;
                opacity: 1;
            }
        }

        .icon,
        .info {
            display: none;
        }
    }

    @media only screen and (max-width: 729px) {
        &,
        &.open,
        &.closed {
            display: none;
        }
    }
}

@keyframes arrow-in {
    0% {
        transform: translateX(0) rotate(90deg);
    }
    25% {
        transform: translateX(5px) rotate(90deg);
    }
    50% {
        transform: translateX(0) rotate(90deg);
    }
    75% {
        transform: translateX(-5px) rotate(90deg);
    }
    100% {
        transform: translateX(0) rotate(90deg);
    }
}

@keyframes arrow-out {
    0% {
        transform: translateX(0) rotate(270deg);
    }
    25% {
        transform: translateX(5px) rotate(270deg);
    }
    50% {
        transform: translateX(0) rotate(270deg);
    }
    75% {
        transform: translateX(-5px) rotate(270deg);
    }
    100% {
        transform: translateX(0) rotate(270deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
