.swiper {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: move;
}

.swiper.snap {
    scroll-snap-type: inline mandatory;
}

.swiper::-webkit-scrollbar {
    display: none;
}

.slider {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    cursor: move;
}
