.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: move;
}

.slider {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
}
