.swiper {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    position: relative;
    cursor: move;
    cursor: grab;
}

.snap {
    scroll-snap-type: inline mandatory;
}

.swiper::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    cursor: grab;
}
