// DEFAULT

.nav {
    & {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    @media only screen and (max-width: 729px) {
        & {
            right: 0;
            height: 5rem;
        }
    }

    @media only screen and (min-width: 730px) {
        & {
            top: 0;
            transition: width 300ms ease-in-out;
        }

        &.open {
            width: 18rem;
        }

        &.closed {
            width: 4rem;
        }
    }
}
