.page {
    display: grid;
}

.widgets {
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;

    .daypicker {
        width: 12rem;
        background-color: #ffffff;
        height: 2.5rem;

        button:hover,
        button.selected {
            background: mediumslateblue;
            color: #fff;
            -webkit-box-shadow: inset 0px 0px 3px #c7c7c7;
            -moz-box-shadow: inset 0px 0px 3px #c7c7c7;
            box-shadow: inset 0px 0px 3px #c7c7c7;
            outline: none;
        }
    }

    .controls {
        display: flex;
        gap: 0.5rem;

        & .week,
        & .completed,
        & .calendarButton,
        & .prioritized {
            background-color: white;
            color: black;

            &[button-active-state='true'] {
                background-color: mediumslateblue;
                color: #fff;
            }
        }

        & button[button-disabled='true'] {
            background-color: rgba(255, 255, 255, 0.2);
            color: rgba(0, 0, 0, 0.2);
        }
    }
}
