.page {
    & {
        padding: 0 1rem;
    }

    .carousel {
        display: none;
        padding: 0rem 0 1rem 0;
    }

    .options {
        display: grid;
        gap: 0.5rem;
        width: 100%;
    }

    .option {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.025);
    }

    .end {
        margin-left: auto;
        height: 1rem;
        width: 1rem;
    }

    @media only screen and (min-width: 730px) {
        .options {
            display: none;
        }

        .carousel {
            display: flex;
        }
    }

    .stat {
        flex-basis: 20rem;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 22rem;
        min-width: 18rem;
        scroll-snap-align: end;
    }
}
